body {
	font-family: 'Dosis', sans-serif;
	margin-left:auto;
	margin-right:auto;
	padding-top: 70px;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 	
}

#projects-header {
	font-size: 20px;
	height: 2px; 
	background-color: rgb(188, 189, 193	); 
	text-align: center;	
}

#main {
	display: none;
}

#projects-grid {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

span {
	background-color: white; 
	position: relative; 
	top: -0.5em;	
}

#footer-social-icons {
	color: rgb(188, 189, 193);
	font-size: 20px;
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.social-icon:hover {
	color: rgb(129, 130, 134);
}

img:hover {
	opacity:1.0;
	filter:alpha(opacity=100);  /*For IE8 and earlier */
}

img {
	opacity:0.75;	
	display: inline;	
	float: left;
}

#about-content {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

#face {
	padding-right: 15px;
}

#copyright {
	font-size: 15px;
}

#cv-content {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

ul {
  list-style-position: initial;
}

#cv-content.hr {
	width:75%;
}

.navbar-default {
	background-color: #ffffff;
	border-color: #ffffff;
}
.navbar-default .navbar-brand {
	color: #bcbdc1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #818286;
}
.navbar-default .navbar-text {
	color: #bcbdc1;
}
.navbar-default .navbar-nav > li > a {
	color: #bcbdc1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #818286;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #818286;
	background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #818286;
	background-color: #ffffff;
}
.navbar-default .navbar-toggle {
	border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #bcbdc1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #bcbdc1;
}
.navbar-default .navbar-link {
	color: #bcbdc1;
}
.navbar-default .navbar-link:hover {
	color: #818286;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #bcbdc1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #818286;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #818286;
		background-color: #ffffff;
	}
}
